einops==0.8.1
ipdb==0.13.13
opencv-python==4.10.0.84
pandas==2.3.3
numpy==1.26.4
tqdm==4.67.1
timm==1.0.22
matplotlib==3.10.7
toml==0.10.2
lightning==2.6.0
qwen-vl-utils[decord]==0.0.8
av==16.0.1
transformers==5.11.0
tensorboard==2.20.0
omegaconf==2.3.0